.rs-boldFont {
  font-weight: bold !important;
}

.rs-border-bottom {
  border-bottom: 1px;
}

.ui-select-search {
  width:100% !important;
}
.ui-select-toggle {
  width:100% !important;
}

.ui-select-container {
  width: 100%;
}

/* Padding classes */
.rs-pad-left-5 {
  padding-left: 5px;
}

.rs-pad-left-10 {
  padding-left: 10px;
}

.rs-pad-left-15 {
  padding-left: 15px;
}

.rs-pad-left-20 {
  padding-left: 20px;
}

.rs-pad-left-30 {
  padding-left: 30px;
}

.rs-pad-right-5 {
  padding-right: 5px;
}

.rs-pad-left-10 {
  padding-right: 10px;
}

.rs-pad-right-15 {
  padding-right: 15px;
}

.rs-pad-right-20 {
  padding-right: 20px;
}

.rs-pad-right-30 {
  padding-right: 30px;
}

.rs-pad-top-5 {
  padding-top: 5px;
}

.rs-pad-top-10 {
  padding-top: 10px;
}

.rs-pad-top-15 {
  padding-top: 15px;
}

.rs-pad-top-20 {
  padding-top: 20px;
}

.rs-pad-top-30 {
  padding-top: 30px;
}

.rs-pad-bot-5 {
  padding-bottom: 5px;
}

.rs-pad-bot-10 {
  padding-bottom: 10px;
}

.rs-pad-bot-15 {
  padding-bottom: 15px;
}

.rs-pad-bot-20 {
  padding-bottom: 20px;
}

.rs-pad-bot-30 {
  padding-bottom: 30px;
}
/* End Padding classes */
/* Margin classes */

.rs-mar-left-5 {
  margin-left: 5px;
}

.rs-mar-left-10 {
  margin-left: 10px;
}

.rs-mar-left-15 {
  margin-left: 15px;
}

.rs-mar-left-20 {
  margin-left: 20px;
}

.rs-mar-left-30 {
  margin-left: 30px;
}

.rs-mar-right-5 {
  margin-right: 5px;
}

.rs-mar-left-10 {
  margin-right: 10px;
}

.rs-mar-left-15 {
  margin-right: 15px;
}

.rs-mar-left-20 {
  margin-right: 20px;
}

.rs-mar-left-30 {
  margin-right: 30px;
}

.rs-mar-top-5 {
  margin-top: 5px;
}

.rs-mar-top-10 {
  margin-top: 10px;
}

.rs-mar-top-15 {
  margin-top: 15px;
}

.rs-mar-top-20 {
  margin-top: 20px;
}

.rs-mar-top-30 {
  margin-top: 30px;
}

.rs-mar-bot-5 {
  margin-bottom: 5px;
}

.rs-mar-bot-10 {
  margin-bottom: 10px;
}

.rs-mar-bot-15 {
  margin-bottom: 15px;
}

.rs-mar-bot-20 {
  margin-bottom: 20px;
}

.rs-mar-bot-30 {
  margin-bottom: 30px;
}

/* End Margin classes */
