<div class="row">
  <div class="col-xs-12 col-sm-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4 class="rs-boldFont text-center" ng-bind="graphCtrl.item.name"></h4>
        <img class="center-block" ng-src="{{graphCtrl.item.icon_large}}">
        <p class="text-center" ng-bind="graphCtrl.item.description"></p>
      </div>
      <ul class="list-group">
        <li id="buy-price" class="list-group-item">Buy Price: <span ng-bind="(graphCtrl.buyPrice | filter: graphCtrl.isNotUndefined | limitTo: -1)[0] | number : 0"></span></li>
        <li id="sell-price" class="list-group-item">Sell Price: <span ng-bind="(graphCtrl.sellPrice | filter: graphCtrl.isNotUndefined | limitTo: -1)[0] | number : 0"></span></li>
        <li id="buy-volume" class="list-group-item">Buy Volume: <span ng-bind="(graphCtrl.buyVolume | filter: graphCtrl.isNotUndefined | limitTo: -1)[0] | number : 0"></span></li>
        <li id="sell-volume" class="list-group-item">Sell Volume: <span ng-bind="(graphCtrl.sellVolume | filter: graphCtrl.isNotUndefined | limitTo: -1)[0] | number : 0"></span></li>
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-sm-2 pull-right">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Graph Functions</h3>
      </div>
      <div class="panel-body text-center">
        <div class="row">
          <div class="col-xs-12">
            <span class="rs-boldFont">Data Range</span>
            <div class="btn-group" data-toggle="buttons" role="group" aria-label="Data Ranges">
              <button class="btn btn-default" ng-click="graphCtrl.updateData(-336)">
                <input type="radio" name="dateRange">1 Week
              </button>
              <button class="btn btn-default" ng-click="graphCtrl.updateData(-672)">
                <input type="radio" name="dateRange">2 Weeks
              </button>
              <button class="btn btn-default active" ng-click="graphCtrl.updateData(0)">
                <input type="radio" name="dateRange">All</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8">
    <canvas id="line" class="chart chart-line" chart-data="graphCtrl.chartData"
            chart-labels="graphCtrl.timestamps" chart-series="graphCtrl.series"
            chart-options="graphCtrl.options">
    </canvas>
  </div>
</div>
