<div class="row" ng-if="graphCtrl.item">
  <div class="col-xs-12 col-sm-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4 class="rs-boldFont text-center" ng-bind="graphCtrl.item.name"></h4>
        <img class="center-block" ng-src="{{graphCtrl.item.icon_large}}">
        <p class="text-center" ng-bind="graphCtrl.item.description"></p>
      </div>
      <ul class="list-group">
        <li id="buy-price" class="list-group-item" ng-bind="'Buy Price: ' + (graphCtrl.buyPrice[graphCtrl.buyPrice.length - 1] | number : 0)"></li>
        <li id="sell-price" class="list-group-item" ng-bind="'Sell Price: ' + (graphCtrl.sellPrice[graphCtrl.sellPrice.length - 1] | number : 0)"></li>
        <li id="buy-volume" class="list-group-item" ng-bind="'Buy Volume: ' + (graphCtrl.buyVolume[graphCtrl.buyVolume.length - 1] | number : 0)"></li>
        <li id="sell-volume" class="list-group-item" ng-bind="'Sell Volume: ' + (graphCtrl.sellVolume[graphCtrl.sellVolume.length - 1] | number : 0)"></li>
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-sm-9">
    <canvas id="line" class="chart chart-line" chart-data="graphCtrl.chartData"
            chart-labels="graphCtrl.timestamps" chart-series="graphCtrl.series"
            chart-options="graphCtrl.options">
    </canvas>
  </div>
</div>
